
.animation-element {
    display: flex;
}

.optional {
    display: inline;
}

.node-label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

.active {
    font-size: xx-large;
    color: green;
}