.table {
    display: flexbox;
    position: fixed;
    bottom: 5%;
    left: 45%;
    transform: translate(-50%);
    overflow: scroll;
    width: 600px;
    background-color: white;

}

.row-table {
    display: flex;
    position: relative;
    width: fit-content;
}

.h-label-table {
    width: 150px;
    border: 1px solid lightgray;
    padding: 5px;
}

.label-table {
    width: 40px;
    border: 1px solid lightgray;
    padding: 5px;
}
