.table {
    display: flexbox;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.row-table {
    display: flex;
    position: relative;
    top: 50px;
}

.h-label-table {
    width: 90px;
    border: 1px solid lightgray;
}

.label-table {
    width: 40px;
    border: 1px solid lightgray;
}
