.graph-node {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; /* Black border for each cell */
    background-color: lightgray; /* Optional background color */
    border: 2px solid lightgray;
    border-radius: 50%;
    box-shadow: 1px 1px 3px gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: var(--node-size);
    height: var(--node-size);
    position: absolute;
  }

.selected {
    border: 2px solid cornflowerblue;
}

.not-observed {
    background-color: lightgray;
}

.current {
    background-color: rgb(0,120,0);
    border: 2px solid rgb(0,120,0);
    color: lightgray;
}

.on-frontier {
    border: 5px dashed rgb(0,0,0);
}

.observed {
    background-color: rgb(120,120,120);
    border: 2px solid rgb(120,120,120);
    color: lightgray;
}
