.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border: 5px pink;
}

#main {
    --node-size: 30px;
}

.right-sidebar {
    position: absolute;
    right: 0px;
    background-color: white;
    border: 2px gray;
    border-radius: 10px;
}

.left-sidebar {
    position: absolute;
    left: 0px;
}

input, 
button {
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 6px;
    font-size: small;
}

label {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}


#adj-list {
    border-radius: 10px;
    overflow: auto;
    height:400px
}

