.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border: 5px pink;
}

#main {
    --node-size: 30px;
}

.right-sidebar {
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 6vh;
    right: 0px;
    background-color: white;
    border: solid gray;
    border-width: 1px;
    border-radius: 10px;
    width: 19vw;
    height: 105vh;
}

.left-sidebar {
    position: absolute;
    left: 0px;
}

.bottom-bar {
    position: absolute;
    width: 100vw;
    bottom: 0vh;
    height: 25vh;
    display: flex;
    fill: rgba(0,0,0,100);
}

.animation-bar {
    display: flex;
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

input, 
button {
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 6px;
    font-size: small;
}

label,
p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}


#adj-list {
    overflow: auto;
    height: 400px;
    border: solid lightslategray;
    border-width: 1px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#info {
    font-weight: bolder;
    font-size: x-large;
    color: lightgray;
}

