.graph-node {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; /* Black border for each cell */
    background-color: lightgray; /* Optional background color */
    border: 2px solid lightgray;
    border-radius: 50%;
    box-shadow: 1px 1px 3px gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    width: var(--node-size);
    height: var(--node-size);
    position: absolute;
  }

.selected {
    border: 2px solid cornflowerblue;
    border-radius: 50%;
}